services:
  robot:
    build: .
    image: env-wan:v1
    container_name: env-wan
    hostname: dockerimage-wan
    privileged: true
    init: true
    networks:
      wan_net_dut_wan:
        mac_address: ${env_wan_wan_mac}
      wan_net:
        ipv4_address: 192.168.100.30
        mac_address: ${env_wan_back_mac}
    tty: true
    volumes:
      - ./tests:/workspace/tests
      - ~/.ssh:/root/.ssh
      - /lib/modules:/lib/modules:ro
    entrypoint: ["/workspace/tests/fix_interface_name_wan.sh"]
    #command: ["sh", "-c", "ntpd -n & /bin/bash"]
    command: ["sh", "-c", "/usr/sbin/inetd & ntpd -n & exec /usr/sbin/sshd -D &  /bin/bash"]

networks:
  wan_net:
    external: true
    name: env_net
  wan_net_dut_wan:
    driver: macvlan
    enable_ipv6: true    
    driver_opts:
      parent: enp3s0f1.30
