services:
  robot:
    build: .
    image: env-lan:v1
    container_name: env-lan
    hostname: dockerimage-lan
    privileged: true
    networks:
      lan_net_dut_lan:    
        mac_address: ${env_lan_lan_mac}              
      lan_net:
        ipv4_address: 192.168.100.20
        mac_address: ${env_lan_back_mac}
    tty: true
    environment:
      - DISPLAY=:99
    volumes:
      - ./tests:/workspace/tests
      - ~/.ssh:/root/.ssh
    entrypoint: ["/workspace/tests/fix_interface_name_lan.sh"]
    #command: ["sh", "-c", "ntpd -n & /bin/bash"]      
    command: ["sh", "-c", "/usr/sbin/inetd & exec /usr/sbin/sshd -D & /bin/bash"]
    #command: ["sh", "-c", "exec /usr/sbin/sshd -D & /bin/bash"]
    
networks:
  lan_net:
    external: true
    name: env_net
  lan_net_dut_lan:
    driver: macvlan
    driver_opts:
      parent: ${env_ats_interface}.20
